<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/main.css" />
  <script type="module" src="/index.js"></script>
  <title>{{title}}</title>
</head>

<body>
  <header>
    <ui-nav>
      <ui-nav-item brand href="/" label="Home" />
      <ui-nav-item href="/pages/one" label="One" />
      {{#if currentUser}}
      <ui-nav-item label="{{currentUser.email}}">
        <div class="account-details">
          <a href="/accounts/{{currentUser.id}}">Account Details</a>
          <a href="/accounts/logout">Logout</a>
        </div>
      </ui-nav-item>
      {{else}}
      <ui-nav-item href="/accounts/login" label="Login" />
      {{/if}}
    </ui-nav>
  </header>
  <main>
    <ui-router></ui-router>
  </main>
  <footer></footer>
</body>

</html>