<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/main.css" />
  <script type="module" src="/index.js"></script>
  <title>{{title}}</title>
</head>

<body>
  <header>
    <ui-nav>
      <ui-nav-item brand href="/" label="Home" />
    </ui-nav>
  </header>
  <main>
    <form action="/accounts/login" method="POST">
      {{#if error}}
      <div class="form-field error">
        {{error}}
      </div>
      {{/if}}
      <div class="form-field">
        <label>Email</label>
        <input type="email" name="email" value="{{email}}">
      </div>
      <div class="form-field">
        <label>Password</label>
        <input type="password" name="password" value="{{password}}">
      </div>
      <div class="form-field">
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
  <footer></footer>
</body>

</html>